
body {
    background-image: url("img/cs-addu-100.png");
   }

/*.table1 {
    align-self: center;
}*/

/*table {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}*/

/*table .table1, th, td{
    font-size: 25px;
    padding: 5px 25px;
    border: 1px solid black;
    text-align: center;
}*/

/*td {
    border: 1px solid black;
    text-align: center;
}



.body-color{
    background-color: rgb(233, 68, 68);
}*/

table{
    width: 400px;
    height: 350px;

}

.body-color{
    background-color: #ffc3b1;
}
td{
    border: 1px solid black;
    text-align: center;
}

#title {
    font-size: 30px;
    font-weight: bold;
}

th {
    border: 1px solid black;
    font-weight: lighter;
}