.table table, th, td{
    font-size: 25px;
    padding: 5px 25px;
    border: 1px solid black;
    text-align: center;
}

.Sunday {
    background-color: red;
}

.hehe {
    padding: 35px 25px;
    background-color: #ffc3b1;
}